@model IEnumerable<ECommerce_Final_Demo.Models.ViewModels.StoreViewModel>

<h3>Stores</h3>

<!-- Button to create a new store -->
<p>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</p>

<!-- Store Table -->
<table class="table table-bordered table-striped" id="Storetable">
    <thead>
        <tr>
            <th>Store Name</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => store.Name)</td>
                <td>@Html.DisplayFor(modelItem => store.Country)</td>
                <td>@Html.DisplayFor(modelItem => store.State)</td>
                <td>@Html.DisplayFor(modelItem => store.City)</td>
                <td>
                    <img src="@Url.Content("~/images/" + store.Image)" alt="Store Image" style="width:70px; height:auto;" />
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@store.Id">Edit</a> |
                   

                    <a asp-action="Delete" asp-route-id="@store.Id" class="btn btn-danger btn-sm"
                       onclick="return confirm('Are you sure you want to delete @store.Name ?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Storetable').DataTable({

                "pageLength": 5,
                "lengthMenu": [5, 10, 25, 50],

                "columnDefs": [
                    { "orderable": false, "targets": [ -2, -1] }
                ],
                "dom": '<"top"f>rt<"bottom"lp><"clear">'
            });
        });
    </script>
}