   


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce_Final_Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ECommerce_Final_Demo.styles.css" asp-append-version="true" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    
</head>
<body>
    

    <div id="wrapper">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ECommerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <span class="nav-link">Welcome, @User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
                
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="margin-left:0;">

                <li class="sidebar-brand">

                 <a href="#menu-toggle" id="menu-toggle" style="margin-top:20px;float:right;"> <i class="fa fa-bars " style="font-size:20px !Important;" aria-hidden="true" aria-hidden="true"></i>

                </li>
                 @if (User.IsInRole ("SuperAdmin"))
                 {
                    <li>
                        <a href="@Url.Action("StoreUsers", "User")">
                            <i class="fa fa-sort-alpha-asc" aria-hidden="true">
                            </i> <span style="margin-left:10px;">ManageUser</span>                            
                                          
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("StoreList", "Store")">
                            <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                            <span style="margin-left:10px;">ManageStore</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("StoreItems", "Item")">
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                            <span style="margin-left:10px;">ManageItem</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DayByDayPurchase", "Report")">
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                            <span style="margin-left:10px;">PurchaseReport</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListOrders", "Order")">
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                            <span style="margin-left:10px;">ManageOrder</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Edit", "User", new {  id = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value })">
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                            <span style="margin-left:10px;">EditProfile</span>
                        </a>
                    </li>
                    <form asp-action="Logout" asp-controller="Auth" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-link" style="border: none;color:azure;">
                            <i class="fa fa-comment-o" aria-hidden="true"></i> <span style="margin-left:10px;">Logout</span>
                        </button>
                    </form>
                }
                @if (User.IsInRole("StoreAdmin"))
                    {

                    <li>
                        <a href="@Url.Action("StoreUsers", "User")">
                            <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                            <span style="margin-left:10px;">ManageUser</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("StoreItems", "Item")">
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                            <span style="margin-left:10px;">ManageItem</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListOrders", "Order")">
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                            <span style="margin-left:10px;">ManageOrder</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DayByDayPurchase", "Report")">
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                            <span style="margin-left:10px;">PurchaseReport</span>
                        </a>
                    </li>
                    <form asp-action="Logout" asp-controller="Auth" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-link" style="border: none;color:azure background: none;">
                            <i class="fa fa-comment-o" aria-hidden="true"></i> <span style="margin-left:10px;">Logout</span>
                        </button>
                    </form>

                }@if (User.IsInRole("User"))
                    {
                   <li>
                      <a href="@Url.Action("GetStoreItems", "Item")"><i class="fa fa-comment-o" aria-hidden="true"></i> <span style="margin-left:10px;">Item</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("CartItems", "Cart")"><i class="fa fa-comment-o" aria-hidden="true"></i> <span style="margin-left:10px;">CartItem</span></a>
                    </li>
                    <form asp-action="Logout" asp-controller="Auth" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-link" style="border: none;color:azure background: none;">
                            <i class="fa fa-comment-o" aria-hidden="true"></i> <span style="margin-left:10px;">Logout</span>
                        </button>
                    </form>

                   
                    }
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

    <a/> 
                        <div class="col-md-9 ms-auto">
                            <main role="main" class="pb-3" style="padding-top: 20px;">
                                @RenderBody()                            
                            </main>
                        </div>
 </div>
 </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>