@model IEnumerable<ECommerce_Final_Demo.Models.ViewModels.ItemViewModel>

<table class="table" id="Itemtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@Url.Content("~/images/" + item.Image)" alt="Item Image" style="width:50px; height:auto;" />
                </td>
                <td>
                    <!-- Form for adding item to the cart -->
                    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                    {
                        @Html.Hidden("id", item.Id)  <!-- ItemId -->
                        @Html.Hidden("price", item.Price)  <!-- Item Price -->
                       
                        <button type="submit" class="btn btn-primary" onclick="showAddToCartAlert()">Add to Cart</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
  
@section Scripts {
    <script>
        function showAddToCartAlert() {
            alert("Item added to cart!");
        } 

        $(document).ready(function () {
            $('#Itemtable').DataTable({

                "pageLength": 5,
                "lengthMenu": [5, 10, 25, 50],

                "columnDefs": [
                    { "orderable": false, "targets": [-2, -1] }
                ],
                "dom": '<"top"f>rt<"bottom"lp><"clear">'
            });
        });

        function showAddToCartAlert() {
            toastr.success("The item has been added to your cart!", "Success");
        }

        // Optional: Customize Toastr options
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "timeOut": "3000" // 3 seconds
        };
    </script>
}
